extends ../layout.jade


block content
	include ../4-block/hero

	include ../4-block/search
	
	.container

		.master__aside
			include ../4-block/city-box

		.master__main
			include ../4-block/category-box


	include ../4-block/suggestion

	include ../4-block/application