//- video-responsive
video-responsive()
	position r
	display block
	height 0
	padding 0
	overflow hidden
	// 16:9
	padding-bottom 56.25%
	// 4:3
	// padding-bottom 75%
	.embed-responsive-item, img, iframe, object, embed, video
		position a 0px 0 0px 0px
		size 100%
		border 0