.application

	.container

		h2.application__heading Téléchargez nos applications mobiles gratuites

		.application__buttons

			a.application__link.google(href='https://play.google.com/store/apps/details?id=se.scmv.morocco', target='_blank')
				.content
					span Disponible sur
					span Google Play

			a.application__link.apple(href='https://itunes.apple.com/us/app/avito.ma/id740544172?l=fr&ls=1&mt=8', target='_blank')
				.content
					span Disponible sur
					span App Store