nav.navbar

	.container
	
		a.navbar__brand(href='.')
			img(src=dist.img + '/brand.png', alt=site.name)

		ul.navbar__list
			li.navbar__item: a.navbar__anchor(href='.') Rechercher des annonces
			li.navbar__item: a.navbar__anchor(href='.') Aide
			li.navbar__item: a.navbar__anchor(href='.') Boutiques
			li.navbar__item: a.navbar__button(href='.') Déposer une annonce