- var config = { responsive: false, favicon: true }

- var site = { name: 'Avito', description: 'Annonces au Maroc', color: '#3498DB', version: '0.1.0'}

- var dist = { img: 'dist/img', css: 'dist/css', js: 'dist/js'}