.container
	lost-center 980px 20px

/* I'll do the responsive stuff later
	lost-center auto 20px

	+above(768px)
		lost-center 400px
	+above(992px)
		lost-center 800px
	+above(1200px)
		lost-center 980px